# Mount the first USB drive at /media/sacnlogger/disk.
ACTION=="add", SUBSYSTEMS=="usb", SUBSYSTEM=="block", ENV{ID_FS_USAGE}=="filesystem", SYMLINK+="sacnlogger-disk", TAG+="systemd", ENV{SYSTEMD_WANTS}="sacnlogger.service"
