[Unit]
Description=sacnlogger monitor
# Don't use network-online here, as it is no longer applicable when mounting disks.
After=network.target time-set.target media-sacnlogger-disk.mount
Requisite=network.target time-set.target
BindsTo=media-sacnlogger-disk.mount
CollectMode=inactive-or-failed
ConditionPathExists=/media/sacnlogger/disk/sacnlogger_config.yaml

[Service]
Type=exec
Restart=always
WorkingDirectory=/media/sacnlogger/disk
ExecStart=/usr/bin/sacnlogger /media/sacnlogger/disk/sacnlogger_config.yaml
