[Match]
Name=eth0

[Network]
DHCP={% if dhcp %}yes{% else %}no{% endif %}
{%- if ntpServer != "" -%}
NTP={{ ntpServer }}
{%- endif %}

{% if dhcp -%}
[DHCPv4]
RoutesToDNS=false
RoutesToNTP=false
{%- if ntp -%}
UseNTP={% if ntpServer == "" %}true{% else %}false{% endif %}
{%- endif -%}
{%- else -%}
[Address]
Address={{ address }}/{{ prefixLength }}
[Route]
Gateway={{ gateway }}
{%- endif -%}
