[Match]
Name=eth0

[Network]
DHCP={% if network.dhcp %}yes{% else %}no{% endif %}
{%- if network.ntpServer != "" -%}
NTP={{ network.ntpServer }}
{%- endif %}

{% if network.dhcp -%}
[DHCPv4]
RoutesToDNS=false
RoutesToNTP=false
{%- if network.ntp -%}
UseNTP={% if network.ntpServer == "" %}true{% else %}false{% endif %}
{%- endif -%}
{%- else -%}
[Address]
Address={{ network.address }}/{{ network.prefixLength }}
[Route]
Gateway={{ network.gateway }}
{%- endif -%}
