[Unit]
Description=sacnlogger monitor
After=network-online.target time-set.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/sacnlogger_monitor

[Install]
WantedBy=multi-user.target
